<!DOCTYPE html>
<html>

<head>
    <title>About</title>
</head>

<body>
    <div data-role="view" data-title="About the Team" data-layout="main" data-model="app.aboutView" data-show="app.aboutView.onShow" data-after-show="app.aboutView.afterShow">
        <div class="about-view" data-bind="invisible:error">
            <div class="icon-group">
                <div class="app-details">
                    <h2 style="text-align: center">NatApp</h2>
                    <h4 style="text-align: center">Pre-alpha V0.1</h4>
                </div>
            </div>
            
            <p style="text-align: center">This app is made by UC Merced's NatApp team for the Vernal Pools Reserve.</p>
            <div class="button-group button-group-vertical">
                <a data-role="button" data-rel="external" href="mailto:natappesl@ucmerced.edu">Contact us</a>
                <a data-role="backbutton" href="components/aboutView/teamMembers.html" data-align="left">List of Team Members</a>
            </div>
            <p style="text-align: center">This app is dedicated to UC Merced.</p>
        </div>
    </div>
</body>

</html>