<!DOCTYPE html>
<html>

<head>
    <title>Nat App Team Members</title>
</head>

<body>
    <div data-role="view" data-title="About the Team" data-layout="main" data-model="app.aboutView" data-show="app.aboutView.onShow" data-after-show="app.aboutView.afterShow">
        <div class="about-view" data-bind="invisible:error">
            <ul>
                <li>Alannah Alvarez, Project Manager</li>
                <li>Armando Leon, Assitant Project Manager</li>
                <li>Fatima Shah, App Sub-Team Member</li>
                <li>Hang Liang, App Sub-Team Leader</li>
                <li>Isabel Lawrence, Plant and Animal Sub-Team Member</li>
                <li>Israel Fernandez, Communications Officer</li>
                <li>Juan De Simon, Plant and Animal Sub-Team Leader</li>
                <li>Justin Ho-Ching Lok Intellectual Property Officer</li>
                <li>Landon Becker, App Sub-Team Member</li>
                <li>Zhao Ming Yu, Procurement and Financial Officer</li>
            </ul>
        </div>
    </div>
</body>

</html>