<div data-role="view" data-title="Animals" data-layout="main" data-model="app.animals" data-show="app.animals.onShow" data-after-show="app.animals.afterShow">

    <!-- START_CUSTOM_CODE_animals -->
    <!-- END_CUSTOM_CODE_animals -->
    <ul data-role="listview" data-style="inset" data-template="animalsModelTemplate" data-bind="{ source: animalsModel.dataSource}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_animalsModel -->
    <!-- END_CUSTOM_CODE_animalsModel -->
    <script type="text/x-kendo-template" id="animalsModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Text'] #</h3>

        </div>
    </script>
</div>