<div data-role="view" data-title="Plants" data-layout="main" data-model="app.plants" data-show="app.plants.onShow" data-after-show="app.plants.afterShow">
    <!-- START_CUSTOM_CODE_plants -->
    <!-- END_CUSTOM_CODE_plants -->
    <ul data-role="listview" data-style="inset" data-template="plantsModelTemplate" data-bind="{ source: plantsModel.dataSource}" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_plantsModel -->
    <!-- END_CUSTOM_CODE_plantsModel -->
    <script type="text/x-kendo-template" id="plantsModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Text'] #</h3>

        </div>
    </script>
</div>