<!doctype html>
<html lang="en">
<!--This is a generic template for adding future species. Just fill in the sections mentioned by the comments! ~ Landon-->    

<head>
    <meta charset="utf-8">
    <title>
        <!--Add page title-->
    </title>
</head>

<body>
    <!--Add data title here-->
    <div data-role="view" data-title="" data-layout="main" data-model="app.aboutView" data-show="app.aboutView.onShow" data-after-show="app.aboutView.afterShow">
        <article>
            <h1><!--Add display title--></h1>
            <section id="Name">
                <p style="font-style: italic">
                    <!--Add scientific name-->
                </p>
            </section>
            <!--Link image here-->
            <section id="Image">
                <p> <img src="components/" width="100%"> </p>
            </section>
            <section id="Overview">
                <h1> Overview </h1>
                <p>
                    <!--Add general overview-->
                </p>
            </section>
            <div class="line-separator"></div>
            <section id="Identification">
                <h1> Identification </h1>
                <p>
                    <!--Add species identification info-->
                </p>
            </section>
            <div class="line-separator"></div>
            <section id="Habitat">
                <h1> Habitat </h1>
                <p>
                    <!--Add habitat info-->
                </p>
            </section>
            <div class="line-separator"></div>
            <section id="Diet">
                <!--Use "Predators and Beneficials for plants, Diet and Predators for animals-->
                <!--<h1> Predators and Beneficials </h1>-->
                <!--<h1> Diet and Predators </h1>-->
                <p>
                    <!--Add diet/predators/beneficials info-->
                </p>
            </section>
            <div class="line-separator"></div>
            <section id="References">
                <h1> References </h1>
                <ol>
                    <li>
                        <p>Image Credit:
                            <!--Credit the image source-->
                        </p>
                    </li>
                    <!--Add references by linking them in the href and adding a display name-->
                    <li>
                        <a data-role="button" data-rel="external" href=""></a>
                    </li>
                </ol>
            </section>
        </article>
    </div>
</body>

</html>