<!DOCTYPE html>
<html>

<head>
    <title>Search</title>
</head>

<body>
    <div data-role="view" data-title="Search" data-layout="main" data-model="app.aboutView" data-show="app.aboutView.onShow" data-after-show="app.aboutView.afterShow">
        <div class="about-view" data-bind="invisible:error">
            <!--If you get this reference you have really good taste in videogames. ~ Landon-->
            <p style="text-align: center">
                The search function isn't working yet! Please wait warmly for it to be added.
            </p>
        </div>
    </div>
</body>

</html>